<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
   <link rel="stylesheet" href="styles/allBlogs.css">
</head>

<body>
    <center>

     <%- include("navbar.ejs") %>

    <center class="container">
        <% blogs.forEach((blog)=>{%>
            <div class="blog-card">
                <img style="width:400px; height:400px" class="blog-image" src="<%-blog.imageUrl %>" alt="Blog Image">
                <div class="blog-title"><%-blog.title%></div>
                <div class="blog-subtitle"><%-blog.subTitle%></div>
                <div class="blog-description"><%- blog.description%></div>
                <a href="/blogs/<%-blog.id %>">See More</a>
            </div>
            <% })%>

                <!-- Add more blog cards here as needed -->

        </center>



    </center>
    <%- include("footer") %>
</body>

</html>